
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controle de Estoque</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li>@Html.ActionLink("Início", "Index", "Home")</li>
                <li>@Html.ActionLink("Lanches ", "Index", "Produto")</li>
                <li>@Html.ActionLink("Ingredientes ", "Index", "Categoria")</li>

               
            </ul>
            <h3 class="text-muted">Lanche Web</h3>
        </div>
    </div>
    <div id="conteudo">
        @RenderBody()
    </div>
</body>
</html>
