<form id="form">
    @Html.AntiForgeryToken()

    <label for="nome">Nome Lanche:</label>
    <input id="nome" name="lanche.Nome" class="form-control" />
    <br />
</form>

<label for="ingrediente">Ingredientes:</label>

@Html.Partial("_IngredienteLanche.cshtml")


<div id="alert" class="alert alert-success" role="alert" style="visibility:hidden"> </div>

<button class="btn btn-primary" onclick="Cadastrar()">Salvar</button>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    function Increment(id) {
        let quantity = parseInt($(id).val());
        $(id).val(quantity + 1);
    }

    function Decrement(id) {
        let quantity = parseInt($(id).val());
        if (quantity > 0) {
            $(id).val(quantity - 1);
        }
    }

    function Cadastrar()
    {
        const url = "@Url.Action("Incluir", "Lanche")";
        console.log($('#form').serialize());
        $.ajax({
            type: "POST",
            url: url,
            dataType: 'json',
            data: $('#form').serialize(),
            cache: false,
            success: function (response) {
                CadastrarIngredienteLanche(response.lancheId);
             },
            error: function(xhr, textStatus, errorThrown) {
                erro()
             }
        });

    }

    

    function erro() {
        $('#alert').css("visibility", "visible");
        $('#alert').removeClass("alert-success");
        $('#alert').addClass("alert-danger");
        $('#alert').html("Ops... Houve um erro ao efetuar a requisição !");
    }

    function sucesso() {
        $('#alert').css("visibility", "visible");
        $('#alert').html("Cadastro efetuado com sucesso !");
    }

</script>