<form id="form">
    @Html.AntiForgeryToken()

    <label for="nome">Nome:</label>
    <input id="nome" name="lanche.Nome" class="form-control" />
    <br />
    <div id="addIngredientes">
        @foreach (var item in ViewBag.Ingredientes)
        {
            <div class="col-lg-2">
                @item.Nome
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="" onclick="Decrement(quantity@(item.IngredienteId))">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" id="quantity@(item.IngredienteId)" name="quantity" class="form-control input-number" value="0" min="0" max="99">
                    <span class="input-group-btn">
                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="" onclick="Increment(quantity@(item.IngredienteId))">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        }
    </div>

    <br />
</form>
<br/><br />
<div id="alert" class="alert alert-success" role="alert" style="visibility:hidden"> </div>

<button class="btn btn-primary" onclick="Cadastrar()">Salvar</button>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    function Increment(id) {
        var quantity = parseInt($(id).val());
        $(id).val(quantity + 1);
    }

    function Decrement(id) {
        var quantity = parseInt($(id).val());
        if (quantity > 0) {
            $(id).val(quantity - 1);
        }
    }

    function Cadastrar()
    {
        var url = "@Url.Action("Incluir", "Lanche")";
        console.log($('#form').serialize());
        $.ajax({
            type: "POST",
            url: url,
            dataType: 'json',
            data: $('#form').serialize(),
            cache: false,
            success: function() {
                location.href = '@Url.Action("Index", "Lanche")';
             },
            error: function(xhr, textStatus, errorThrown) {
                erro()
             }
        });

    }

    function erro() {
        $('#alert').css("visibility", "visible");
        $('#alert').removeClass("alert-success");
        $('#alert').addClass("alert-danger");
        $('#alert').html("Ops... Houve um erro ao efetuar a requisição !");
    }

    function sucesso() {
        $('#alert').css("visibility", "visible");
        $('#alert').html("Cadastro efetuado com sucesso !");
    }

</script>