<form action="/Lanche/EditaLanche" method="post">
    @Html.AntiForgeryToken()

    <labe> Id</labe>
    <input id="idP" class="form-control" name="lanche.LancheId" value=@Model.LancheId readonly>

    <label>Nome</label>
    <input id="nomeP" name="lanche.Nome" class="form-control" value="@Model.Nome" />

    <label for="ingrediente">Ingredientes:</label>

    @Html.Partial("_IngredienteLanche.cshtml")

</form>

<div id="alert" class="alert alert-success" role="alert" style="visibility:hidden"> </div>

<button class="btn btn-primary" onclick="Cadastrar()">Salvar</button>
<button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Ingrediente")'">Voltar</button>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript">

</script>